# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Effectiv.E7114791/x64/Debug/Effectiv.E7114791.tlog/CL.command.1.tlog
Effectiv.E7114791/x64/Debug/Effectiv.E7114791.tlog/Cl.items.tlog
Effectiv.E7114791/x64/Debug/Effectiv.E7114791.tlog/CL.read.1.tlog
Effectiv.E7114791/x64/Debug/Effectiv.E7114791.tlog/CL.write.1.tlog
Effectiv.E7114791/x64/Debug/Effectiv.E7114791.tlog/EffectiveCPPStudy.lastbuildstate
Effectiv.E7114791/x64/Debug/Effectiv.E7114791.tlog/link.command.1.tlog
Effectiv.E7114791/x64/Debug/Effectiv.E7114791.tlog/link.read.1.tlog
Effectiv.E7114791/x64/Debug/Effectiv.E7114791.tlog/link.secondary.1.tlog
Effectiv.E7114791/x64/Debug/Effectiv.E7114791.tlog/link.write.1.tlog
Effectiv.E7114791/x64/Debug/EffectiveCPPStudy.exe.recipe
Effectiv.E7114791/x64/Debug/EffectiveCPPStudy.ilk
Effectiv.E7114791/x64/Debug/vc143.idb
Effectiv.E7114791/x64/Debug/vc143.pdb
